<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harianugrah.haemtei">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ngampus.NoActionBar">
        <activity android:name="com.harianugrah.haemtei.EditActivity" android:parentActivityName="com.harianugrah.haemtei.ListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harianugrah.haemtei.ListActivity" />
        </activity>
        <activity android:name="com.harianugrah.haemtei.DetailActivity" />
        <activity android:name="com.harianugrah.haemtei.ListActivity" />
        <activity android:name="com.harianugrah.haemtei.ProfileActivity" />
        <activity
            android:name="com.harianugrah.haemtei.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>